body {
    background-color:azure;
}
#form {
    width: 500px;margin-top: 40px;
}
#head {
    width: 300px;margin-bottom: 30px;
}

#heading{
    font-size: 25px;
}
#button{
    width: 100px;margin-top:20px;margin-bottom: 30px;

}
#bottom{
    width: 250px;margin-bottom: 110px;
}
#foot{
    width: 320px;
}
#copyright{
    width: 200px;
}